body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, yellow, rgba(255, 115, 0, 0.986));
  box-sizing: border-box;
}
.searchBody {
  width: 500px;
  margin: 400px auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.searchBarContainer {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(228, 36, 36);
}

input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: inherit;
  outline-color: rgb(228, 36, 36);
  outline: none;
}

/* to extend hover bar to left of list elements */
.suggestions {
  margin-left: -40px;
}

ul {
  list-style: none;
  margin: 0;
}

ul li {
  font-size: 20px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
ul li:hover {
  background-color: orange;
  cursor: pointer;
}
